.profile {
    width: 80%;
    max-width: 500px;
    margin: auto;
    border-radius: 20px;
    background-color: #c18f6a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
}

.profile .like img{
    width: 30px;
    height: 30px;
}

.profile .info {
    display: flex;
    flex-direction: column;
}

.profile .info .name {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.profile .info .name img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.profile .info .name span {
    margin-left: 10px;
}

.profile .info .age,
.profile .info .race {
    font-size: 1.2em;
}
.description {
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 10px;
}
