.published-by {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    align-items: center;
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 10px;
}

.published-by__image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.published-by__text {
    display: grid;
    grid-row-gap: 5px;
}

.published-by__text span:first-child {
    font-weight: bold;
}
